/node_modules
/emacs.d/ac*
/emacs.d/.org*
/vim/plugged/*
setup*.sh
/emacs/config.el
/emacs/packages.el

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
